<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.has.sam.cej.myuniversity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MyUniversity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TimeTable" />
        <activity
            android:name=".CSE"
            android:label="@string/title_activity_cse"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECE"
            android:label="@string/title_activity_ece"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EEE"
            android:label="@string/title_activity_eee"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MEC"
            android:label="@string/title_activity_mec"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IT"
            android:label="@string/title_activity_it"
            android:theme="@style/AppTheme.NoActionBar"></activity>
       <activity android:name=".TimeTable1C"/>
        <activity android:name=".TimeTable2C"/>
        <activity android:name=".TimeTable3C"/>
        <activity android:name=".TimeTable4C"/>
        <activity android:name=".Syllabus1C"/>
        <activity android:name=".Syllabus2C"/>
        <activity android:name=".Syllabus3C"/>
        <activity android:name=".Syllabus4C"/>
        <activity android:name=".Attendance1C"/>
        <activity android:name=".Attendance2C"/>
        <activity android:name=".Attendance3C"/>
        <activity android:name=".Attendance4C"/>


    </application>

</manifest>