<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.has.sam.cej.myuniversity">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MyUniversity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".TimeTable" />
        <activity
            android:name=".CSE"
            android:label="@string/title_activity_cse"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ECE"
            android:label="@string/title_activity_ece"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".EEE"
            android:label="@string/title_activity_eee"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MEC"
            android:label="@string/title_activity_mec"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".IT"
            android:label="@string/title_activity_it"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".TimeTable1C" />
        <activity android:name=".TimeTable2C" />
        <activity android:name=".TimeTable3C" />
        <activity android:name=".TimeTable4C" />
        <activity android:name=".TimeTable1E" />
        <activity android:name=".TimeTable2E" />
        <activity android:name=".TimeTable3E" />
        <activity android:name=".TimeTable4E" />
        <activity android:name=".TimeTable1EE" />
        <activity android:name=".TimeTable2EE" />
        <activity android:name=".TimeTable3EE" />
        <activity android:name=".TimeTable4EE" />
        <activity android:name=".TimeTable1I" />
        <activity android:name=".TimeTable2I" />
        <activity android:name=".TimeTable3I" />
        <activity android:name=".TimeTable4I" />
        <activity android:name=".TimeTable1M" />
        <activity android:name=".TimeTable2M" />
        <activity android:name=".TimeTable3M" />
        <activity android:name=".TimeTable4M" />
        <activity android:name=".Syllabus1C" />
        <activity android:name=".Syllabus2C" />
        <activity android:name=".Syllabus3C" />
        <activity android:name=".Syllabus4C" />
        <activity android:name=".Syllabus1e" />
        <activity android:name=".Syllabus2e" />
        <activity android:name=".Syllabus3e" />
        <activity android:name=".Syllabus4e" />
        <activity android:name=".Syllabus1ee" />
        <activity android:name=".Syllabus2ee" />
        <activity android:name=".Syllabus3ee" />
        <activity android:name=".Syllabus4ee" />
        <activity android:name=".Syllabus1I" />
        <activity android:name=".Syllabus3I" />
        <activity android:name=".Syllabus2I" />
        <activity android:name=".Syllabus4I" />
        <activity android:name=".Syllabus1M" />
        <activity android:name=".Syllabus2M" />
        <activity android:name=".Syllabus3M" />
        <activity android:name=".Syllabus4M" />
        <activity android:name=".Attendance1C" />
        <activity android:name=".Attendance2C" />
        <activity android:name=".Attendance3C" />
        <activity android:name=".Attendance4C" />
        <activity android:name=".Attendance1E" />
        <activity android:name=".Attendance2E" />
        <activity android:name=".Attendance3E" />
        <activity android:name=".Attendance4E" />
        <activity android:name=".Attendance1EE" />
        <activity android:name=".Attendance2EE" />
        <activity android:name=".Attendance3EE" />
        <activity android:name=".Attendance4EE" />
        <activity android:name=".Attendance1I" />
        <activity android:name=".Attendance2I" />
        <activity android:name=".Attendance3I" />
        <activity android:name=".Attendance4I" />
        <activity android:name=".Attendance1M" />
        <activity android:name=".Attendance2M" />
        <activity android:name=".Attendance3M" />
        <activity android:name=".Attendance4M" />
        <activity android:name=".CollegeInfo" />
        <activity android:name=".Results" />
        <activity android:name=".ExamsInfo" />
        <activity android:name=".ContactUs" />
        <activity android:name=".Placements"></activity>
    </application>

</manifest>